<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
    <!-- ###################  START FOOTER ##################-->
    <footer th:fragment="footer" id="footer">
        <div class="mui-container-fluid">
            <br/>
            Made with MAR1 by <a th:href="@{https://github.com/marouaneunix}" class="btn btn-social-icon btn-github"><i class="fa fa-github"></i></a>
        </div>
    </footer>
    <!-- ###################  END FOOTER ##################-->

    <!-- ###################  START SCRPTS LINK ##################-->
    <div th:fragment="scripts_link">
        <!-- jQuery -->
        <script th:src="@{/resources/vendor/jquery/jquery.min.js}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script th:src="@{/resources/vendor/bootstrap/js/bootstrap.min.js}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script th:src="@{/resources/vendor/metisMenu/metisMenu.min.js}"></script>

        <!-- Morris Charts JavaScript -->
        <script th:src="@{/resources/vendor/raphael/raphael.min.js}"></script>
        <script th:src="@{/resources/vendor/morrisjs/morris.min.js}"></script>
        <script th:src="@{/resources/data/morris-data.js}"></script>

        <!-- Custom Theme JavaScript -->
        <script th:src="@{/resources/dist/js/sb-admin-2.js}"></script>
    </div>
    <!-- ###################  END SCRIPTS LINK ##################-->

</body>
</html>