<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
        <head th:fragment="head">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
            <link th:href="@{//cdn.muicss.com/mui-latest/css/mui.min.css}" rel="stylesheet" type="text/css" />
            <link rel="stylesheet" th:href="@{resources/css/font-awesome.min.css}" />
            <link th:href="@{resources/css/material.css}" rel="stylesheet" media="screen" />
            <link th:href="@{resources/css/myStyle.css}" rel="stylesheet" media="screen" />
        </head>


</body>
</html>